
/* Your CSS Code here. */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.holder{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.pen{
	border: 1px solid;
	height: 65px;
	width: 65px;
}
.item1 {
	background-color: green;
}
.item2 {
	background-color: red;
}
.item3 {
	background-color: blue;
}

.item{
	display: flex;
	align-items: center;
	/* flex-wrap: nowrap; */
	justify-content:center;
	gap: 5px;
}
.list{
	border: 1px solid;
	width: 65px;
	height: 65px;
}
.list1,.list2,.list3,.list4,.list5{
	background-color: green
}
.list6{
	background-color: red;
}

.list7{
	background-color: blue;
}




