
/* Your CSS Code here. */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.holder{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item{
	border: 1px solid;
	height: 65px;
	width: 65px;
}
.pen1 {
	background-color: green;
}
.pen2 {
	background-color: red;
}
.pen3 {
	background-color: blue;
}





